body {
   background-color: aqua;
}

h1 {
  font-family: monospace;
  font-size: 3.5em;
  letter-spacing: 0.2em;
  color: #a6fefe;
}

p {
  font-family: monospace;
  font-size: 2em;
  color: #e4f9fa;
}

h2 {
  font-family: monospace;
  font-size: 1.5em;
}

footer {
  font-family: monospace;
  font-size: 1.88em;
}

.header {
  display: flex;
  flex-flow: row wrap;
  background-color: #38ce31;
  justify-content: center;
  padding: 3.13em;
  margin-bottom: 0.5em;
}

.intro {
  display: flex;
  flex-flow: row wrap;
  background-color: #31ce78;
  padding: 1em;
  max-width: 75%;
}

.homeContent {
}

.blogLinks {
  font-family: monospace;
  font-size: 1.69em;
}

.imageContainer {
}

a {
  font-family: monospace;
  font-size: 1.56em;
}

a:hover {
}

a:visited {
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    /* some layout rules */
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container {
    /* some layout rules */
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .container {
  }
}
