body {
  background-color: #003c3a;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  font-family: monospace;
  box-sizing: border-box; /* Includes padding and border in the element’s total width and height, Simplifies layout calculations */
}

/*MAIN HEADER FOR EACH PAGE*/
h1 {
  font-family: monospace;
  font-size: 6vw;
  letter-spacing: 0.2em;
  color: #a6fefe;
}

/* from freshCSS */
h2 {
  font-family: monospace;
  font-size: 20px;
  color: #a6fefe;
  letter-spacing: 0.2em;
  padding: 1em;
  text-align: center;
}
*/

/* h3 is 2ND HEADER FOR INTRODUCING NEW TOPICS*/
h3 {
  font-family: monospace;
  font-size: 2em;
  color: #a6fefe;
  letter-spacing: 0.2em;
}

p {
  font-family: monospace;
  font-size: 18px;
  color: #e4f9fa;
  padding: 0.3em;
  letter-spacing: 0.1em;
  line-height: 1.8;
}

/* Below: UNTETHERED OL, UL AND LI only*/

ul {
  list-style: none;
}

ol {
  color: white;
}

li {
  font-family: monospace;
  padding: 5rem;
  color: #a6fefe;
  padding: 1em;
  margin: 1em;
}

a {
  text-decoration: none;
  background-color: #198d7d;
  border: #a6fefe solid;
  color: #a6fefe;
}

li a:link {
  color: #23df81;
}
li a:visited {
  color: #1bcb73;
}
li a:hover {
  background-color: #073b34;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #002621;
  font-family: monospace;
  font-size: 1.88em;
  padding: 1em;
  margin-top: 1em;
}

/* HOME CONTENT, PARENT CONTAINER FOR H2 */
.homeContent {
  display: flex;
  flex-flow: row;
  background-color: #198d7d;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

/* HEADER AND BLOG NAV */
.blogNav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: inline; */
  }

  li {
    display: inline;
    float: left;
  }

  li a {
    display: block;
    font-size: 1vw;
    text-align: center;
    padding: 2em 2em;
  }
}

/*parent for header and nav from new */
.blogHeader {
  background-color: #169e59;
  width: 100%;
  display: flex;
  padding: 3em;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: flex;
  flex-flow: row flex;
  align-self: center;
  background-color: #169e59;
  padding: 1.2em;
  font-size: 5em;
}

.blogNav {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  justify-content: space-between;
  /* font-size: 0.5em; */
  font-family: monospace;
}
/* REPLACED (AS IN NEW FROM FRESH.CSS) NAV ABOVE*/

/* below: from fresh CSS intro parent and 2 children, one fot text one for image */

.introContainer {
  /* display: inline-flex; */
  background-color: black;
  padding: 1em;
  width: 100%;
  justify-content: space-between;
}

.intro {
  background-color: #073b34;
  border: #a6fefe solid;
  padding: 3em;
  font-size: 4em;
}

.introImg {
  background-color: #073b34;
  width: 50%;
  height: auto;
}

/* above is FRESH.CSS Intro */

/*below is unsure if keeping */

.def {
  display: flex;
  flex-flow: row wrap;
  flex: 200px;
  background-color: black;
  align-content: space-around;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    /* some layout rules */
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container {
    /* some layout rules */
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 1;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }

  .homeContent {
    flex-direction: column;
    align-items: center;
  }
}

#highlight {
  color: aqua;
}

/* I'm using this often as parent for the intro, and when and how*/
.whyWhenHow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: #169e59;
  justify-content: space-around;
  box-sizing: border-box;
  border: 1px solid transparent;
  margin-bottom: 2em;
}

.when {
  color: #a6fefe;
  background-color: hsl(177, 44%, 47%);
  max-width: 45%;
  box-sizing: border-box;
  padding: 0.2em;
  align-self: center;
  border: 1px solid #a6fefe;
  margin: 1em;
}

/* example parent container for example code*/
.example {
  display: flex;
  flex-flow: row flex;
  background-color: black;
  color: #a6fefe;
  align-content: space-around;
  padding: 3em;
  margin-top: 1em;
  margin-bottom: 2em;
}

/*used in example and whenwhathow parents*/
.how {
  color: #a6fefe;
  background-color: black;
  padding: 0.2em;
  justify-content: center;
  border: 1px solid aqua;
}

/*child container of example*/
.exampleCode {
  border: #a6fefe;
  flex: relative;
  max-height: auto;
  max-width: auto;
  align-self: flex-start;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

/* JS BLOG POST */
/* intro content as parent container for .intro and .side to intro */

.introContent {
  display: flex;
  flex-flow: row column;

  max-width: 100%;
  height: 100%;
}

.sideToIntro {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  max-height: auto;
  position: relative;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}
