body {
  background-color: aqua;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: monospace;
  font-size: 40px;
  font-weight: 70;
  letter-spacing: 2px;
  color: #a6fefe;
  text-align: center;
  padding: 50px;
}

h2 {
  font-family: monospace;
  font-size: 35px;
  font-weight: 70;
  color: #ebfeec;
  text-align: left;
}

p {
  font-size: 25px;
  font-family: monospace;
  color: #e4f9fa;
}

.intro {
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center; 
  padding: 0;
  margin: 0;
  width: 100%;
}

#header {
  background-color: #38ce31;
}

#intro {
  background-color: #31ce78;
  margin-top: 10px;
  padding: 40px;
}

#blogLinks {
  background-color: #31cec7;
  color: #a6fefe;
  border: 10px solid;
  margin: 20px;
  padding: 50px;
  max-width: 40%;
}

#blogLinks ul {
  list-style-type: none;
  padding: 20px;
}

#blogLinks li {
  font-size: 27px;
  font-family: monospace;
  margin-bottom: 50px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

#placeholderImage {
  max-width: 100%;
  height: auto;
  border: 1px solid aqua;
  padding: 23px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  padding: 20px;
  gap: 20px;
}

footer {
  background-color: #38ce31;
  padding: 30px;
  width: 100%;
  text-align: center;
  color: #a6fefe;
  min-height: 50px;
  justify-content: center;
  font-family: monospace;
  font-size: 30px;
  }

a {
  color: #caf3f5;
  font-size: 25px;
}