/*  FRESH CSS TO MERGE HTML
    THIS HAS BEEN MERGED, KEEPING HERE FOR REFERENCE FOR NOW
*/

body {
  background-color: #003c3a;
  size: 16px;
}

h1 {
  font-family: monospace;
  font-size: 6vw;
  color: #a6fefe;
  letter-spacing: 0.2em;
}

h2 {
  font-family: monospace;
  font-size: 20px;
  color: #a6fefe;
  letter-spacing: 0.2em;
  padding: 1em;
  text-align: center;
}

p {
  font-size: 18px;
  font-family: monospace;
  color: #1bcb73;
  letter-spacing: 0.1em;
  line-height: 1.8;
}

/* HEADER AND BLOG NAV 
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  font-size: 2vw;
  text-align: center;
  padding: 2em 2em;
}
a {
  text-decoration: none;
  background-color: #198d7d;
  border: #a6fefe solid;
  color: #a6fefe;
}

li a:link {
  color: #23df81;
}
li a:visited {
  color: #1bcb73;
}
li a:hover {
  background-color: #073b34;
} */

/*parent for header and nav 
.blogHeader {
  background-color: #169e59;
  width: 100%;
  display: flex;
  padding: 3em;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: flex;
  flex-flow: row flex;
  align-self: center;
  background-color: #169e59;
  padding: 1.2em;
  font-size: 5em;
}

.blogNav {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  justify-content: space-between;
  font-size: 0.5em;
  font-family: monospace;
  letter-spacing: 0.2em;
}
 */
/* intro parent and 2 children, one fot text one for image */

.introContainer {
  display: inline-flex;
  background-color: black;
  padding: 1em;
  width: 100%;

  justify-content: space-between;
}

.intro {
  background-color: #073b34;
  border: #a6fefe solid;
  padding: 1em;
  font-size: 4em;
}

.introImg {
  background-color: #073b34;

  width: 100%;
  height: auto;
}

/* block 1 and block1bebese for first lot of content ie EQ and IQ*/
.block1 {
  display: flex;
  flex: column;
  background-color: black;
}

.block1bebes {
  background-color: #003c3a;
  padding: 3em;
  margin: 1em;
  border: #a6fefe solid;
}

/* block 2, intially for /eq/mindfullness*/

.block2 {
  display: flex;
  flex-direction: row;
  background-color: #38a66e;
}

.block2bebes {
  background-color: #198d7d;

  padding: 3em;
  margin: 1em;
  border: #a6fefe solid;
}
